%categoryTitle {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 50px;
}

%btn {
  text-decoration: none;
  color: inherit;
  border: $border;
  font-weight: 500;
  border-radius: 99px;
  transition: background-color 0.2s linear;
  padding: 0.5rem 1rem;
  &:hover {
    background-color: black;
    color: white;
  }
}
